<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket-List{% endblock %}</title>
        {# Les CSS #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {# Google font Poppins #}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        {# le favicon #}
        <link rel="icon" href="{{ asset('img/favicon.png') }}">
    </head>

    <body>
    <nav class="navbar content" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <h1><a class="navbar-item" href="{{ path('main_home')}}">
                <img src="{{asset('img/logo.png')  }}" > Bucket-List </a>
            </h1>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ path('main_home')}}">
                    Accueil
                </a>
                <a class="navbar-item" href="{{ path('main_aboutUs')}}">
                    A propos de nous
                </a>
                <a class="navbar-item" href="{{ path('wish_list')}}">
                    Liste des idées
                </a>

            </div>
        </div>
        <div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-info">
                            <strong>Inscription</strong>
                        </a>
                        <a class="button is-light">
                            Connexion
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container content">
        {% block body %}{% endblock %}
    </div>
    </body>

    <footer class="footer">
        <div class="content has-text-centered">
            &copy;Bucket-List  {{ "now"|date("Y") }}
        </div>
    </footer>


</html>
